{% extends 'layout.html' %}

{% block content %}


<div class="row d-flex">
    <div class="col-4" style="background-color: #bfbab078;">
        <div class="text-center">
            <img class ="col-7 rounded-circle" src="{{ store.store_image.url|slice:'1:' }}"
            alt="store" style= "margin-top:6rem;">
        </div>
        
        <div class="text-center" style= "margin-top:1.5rem; margin-bottom:1rem">
            <h3><strong>{{store.store_name}}</strong></h3>
        </div>
        <div class="text-center">
            <strong>위치 :&nbsp;</strong> {{store.store_address}}
        </div>
        <div class="text-center" style= "margin-top:0.5rem;">
            {{store.store_memo| linebreaksbr}}
        </div>
        <div class="text-center" style= "margin-top:0.5rem;">
            {{store.store_like}}
            <button id="like_button" onclick="LikeUp()">좋아요</button>
            <input type="hidden" id="user_name" name="user_name" value="{{ user.username }}">
        </div>
        <script>
            function LikeUp(){
                let user_name = $('#user_name').val()
                console.log(user_name)

                $.ajax({
                    type: "POST",
                    url: "{% url 'store-detail' pk=store.pk %}",
                    data: {'name_give': user_name, csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (response) {
                        
                        // '좋아요 완료!' 얼럿을 띄웁니다.
                        alert(response.msg)
                        // 좋아요 버튼을 사라지게합니다.
                        $('#like_button').hide()
                        // 변경된 정보를 반영하기 위해 새로고침합니다.
                        window.location.reload()
                        
                    }
                });
            }
        </script>
        

    </div>

    <div class=col-8>
        <div class = "row justify-content-between" style="margin-left: 1rem; margin-top:1rem;">
            <div class = "col-4"><strong>판매글</strong></div>
            {% if user.pk == store.pk%}
            <div class="col-2">
                <a href="{% url 'post-create' %}" class="btn btn-outline-primary">글쓰기</a>
            </div>
            {% endif %}
        </div>
        <div class="row row-cols-1 row-cols-md-3" style="margin:2rem; margin-left:3rem; min-height:400px">
            {% for post in posts %}
            <div class="col mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ post.image.url|slice:'1:' }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <div class="card-title">
                        {% if post.soldout %}
                            SOLD OUT
                        {% else %}
                            <a href="{% url 'post-detail' pk=post.pk%}">{{ post.title }}</a></h5>
                        {% endif %}
                        </div>
                        <div class="card-text">
                            <b>{{post.new_price}} 원</b>  <small><del>{{post.origin_price}}원</del></small><br/>
                            {% if user.pk == store.pk%}
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'post-update' pk=post.pk %}" class="btn btn-outline-primary btn-sm">수정</a>
                                    &nbsp;
                                <a href="{% url 'post-update' pk=post.pk %}" class="btn btn-outline-danger btn-sm btn_comment_delete">삭제</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination offset-5">
                {%if mypage.previous_url%}
                <li class="page-item"><a class="page-link" href="{{ mypage.previous_url }}">Prev</a></li>
                {%endif%}
                
                {% for link in mypage.page_links %}
                {% if link.is_active %}
                    <li class="page-item active" aria-current="page">
                    <a class="page-link" href="{{link.url}}">{{link.number}} <span class="sr-only">(current)</span></a>
                {%else%}
                    <li class="page-item"><a class="page-link" href="{{link.url}}">{{link.number}}</a></li>
                {% endif %}
                {%endfor%}
            
                {%if mypage.next_url%}
                <li class="page-item"><a class="page-link" href="{{ mypage.next_url }}">Next</a></li>
                {%endif%}
            </ul>
        </nav>
        
    </div>
</div>


<script>
    $('.btn_comment_delete').click(function(e){
        e.preventDefault();
        comment = $(this).parents('card');
        $.ajax({
            url:$(this).attr('href'),
            type: "delete",
            dataType:"json",
            headers: {'X-CSRFToken': '{{ csrf_token }}'}, // token 설정
        }).done(function(response){
            comment.remove();
            location.href = "{% url 'store-detail' pk=store.pk%}";
            alert('포스트를 삭제하였습니다.');

        });
    });
</script>

{% endblock %}