{% extends 'layout.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'post/store.css'%}" />

<div class="wrap">
    <div class="content">
        <div class="aside">

            <div>
                <img class ="img-store rounded-circle" src="{{ store.store_image.url|slice:'1:' }}"
                alt="store">
            </div>
            
            <div>
                <h3>{{store.store_name}}</h3>
            </div>
            <p>위치 : {{store.store_address}}</p>
            <p>{{store.store_memo}}</p>
            

        </div>
        <div class=main>
            <div class = "row justify-content-between" style="margin-left: 1rem; margin-top:1rem;">
                <div class = "col-4"><strong>판매글</strong></div>
                {% if user.pk == store.pk%}
                <div class="col-2">
                    <a href="{% url 'post-create' %}" class="btn btn-outline-primary">글쓰기</a>
                </div>
                {% endif %}
            </div>
            <div class="row row-cols-1 row-cols-md-3" style="margin:2rem">
                {% for post in posts %}
                <div class="col mb-4">
                    <div class="card" style="width: 12rem;">
                        <img class="card-img-top" src="{{ post.image.url|slice:'1:' }}" style="width: 12rem; height: 12rem;"
                            alt="Card image cap">
                        <div class="card-body">
                            <div class="card-title">
                            {% if post.soldout %}
                                SOLD OUT
                            {% else %}
                                <a href="{% url 'post-detail' pk=post.pk%}">{{ post.title }}</a></h5>
                            {% endif %}
                            </div>
                            <div class="card-text">
                                <b>{{post.new_price}} 원</b>  <small><del>{{post.origin_price}}원</del></small><br/>
                                {% if user.pk == store.pk%}
                                <div class="row">
                                    <a href="{% url 'post-update' pk=post.pk %}" class="btn btn-outline-primary btn-sm offset-5">수정</a>
                                        &nbsp;
                                    <a href="{% url 'post-update' pk=post.pk %}" class="btn btn-outline-danger btn-sm btn_comment_delete">삭제</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination offset-5">
                  {%if mypage.previous_url%}
                    <li class="page-item"><a class="page-link" href="{{ mypage.previous_url }}">Prev</a></li>
                  {%endif%}
                  
                  {% for link in mypage.page_links %}
                    {% if link.is_active %}
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="{{link.url}}">{{link.number}} <span class="sr-only">(current)</span></a>
                    {%else%}
                      <li class="page-item"><a class="page-link" href="{{link.url}}">{{link.number}}</a></li>
                    {% endif %}
                  {%endfor%}
              
                  {%if mypage.next_url%}
                    <li class="page-item"><a class="page-link" href="{{ mypage.next_url }}">Next</a></li>
                  {%endif%}
                </ul>
            </nav>
            
        </div>
    </div>
</div>

<script>
    $('.btn_comment_delete').click(function(e){
        e.preventDefault();
        comment = $(this).parents('card');
        $.ajax({
            url:$(this).attr('href'),
            type: "delete",
            dataType:"json",
            headers: {'X-CSRFToken': '{{ csrf_token }}'}, // token 설정
        }).done(function(response){
            comment.remove();
            location.href = "{% url 'store-detail' pk=store.pk%}";
            alert('포스트를 삭제하였습니다.');

        });
    });
</script>

{% endblock %}