{% extends 'layout.html' %}

{% block content %}
    {% if local %}
    <h1>Stores in {{ local }}</h1>
    {% else %}
    <h1>Local</h1>
    {% endif %}
    
    <br/>
    <div class ="search">
        <form action="" method="get">
            <input type="text" name="searchword" placeholder="ex) 마포구" onkeyup="search(this);">
            <button type="submit">Search</button> 
        </form>
    </div>
    <br/>
    <div class="card-columns">
        {% for store in stores %}
        <div class="card">
            <img class="card-img-top"
                src="{{ store.store_image.url|slice:'1:' }}"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'store-detail' pk=store.pk%}">{{ store.store_name }}</a></h5>
                <p class="card-text">{{ store.user }}</p></p>
            </div>
        </div>
        {% endfor %}
        
    </div>
 



{% endblock %}