{% extends 'layout.html' %}

{% block content %}
<container>
  <br/>
    {% if local %}
    <h1>Stores in {{ local }}</h1>
    {% else %}
    <h1>Local</h1>
    {% endif %}

    <br/>
    <div class ="search">
        <form action="" method="get">
            <input type="text" name="searchword" placeholder="ex) 마포구" onkeyup="search(this);">
            <button type="submit" class="btn btn-light">Search</button>
            <button type="button" class="btn btn btn-light" onclick="location.href='/store'">가게명으로 검색</button>
        </form>
    </div>
    <br/>

    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4" style="margin : 1rem;" >

        {% for store in stores %}
        <div class="col" >
            <div class="card" style="margin: 0.5rem; margin-top:2.5rem">
                <img class="card-img-top"
                    src="{{ store.store_image.url|slice:'1:' }}"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'store-detail' pk=store.pk%}" class="stretched-link">{{ store.store_name }}</a></h5>
                    <p class="card-text">{{ store.store_address }}</p>
                    <div class="count_likes_user" style= "margin-top:0.5rem;">
                      좋아요 {{ store.store_like_count }}개
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
    

<!--pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination offset-6">
      {%if mypage.previous_url%}
        <li class="page-item"><a class="page-link" href="{{ mypage.previous_url }}">Prev</a></li>
      {%endif%}
      
      {% for link in mypage.page_links %}
        {% if link.is_active %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="{{link.url}}">{{link.number}} <span class="sr-only">(current)</span></a>
        {%else%}
          <li class="page-item"><a class="page-link" href="{{link.url}}">{{link.number}}</a></li>
        {% endif %}
      {%endfor%}
  
      {%if mypage.next_url%}
        <li class="page-item"><a class="page-link" href="{{ mypage.next_url }}">Next</a></li>
      {%endif%}
    </ul>
  </nav>

</container>
{% endblock %}