.wrap {
    display: flex;
    flex-direction: column;
	height: 100%;
}

.content {
    display: flex;
    flex: 1;
}

.aside {
    text-align: center;
    width: 25rem;
    background-color: #bfbab078;
    flex-direction: column;

}

.main{
    flex: 1;
    flex-direction : column;
}

.img-store{
    width: 12rem;
    height: 12rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
    
}
