{% extends 'layout.html' %}


{% block content %}

{% if local %}
<h1>Posts in {{ local }}</h1>
{% else %}
<h1>Local</h1>
{% endif %}

<br/>
<div class ="search">
    <form action="" method="get">
        <input type="text" name="searchword" placeholder="ex) 마포구" onkeyup="search(this);">
        <button type="submit" class="btn btn-light">Search</button>
    </form>
</div>
<br/>

<div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4" style="margin : 1rem;" >
  
  {% for post in posts %}
  <div class="col mb-3" >
    
    <!-- img 태그를 활용하여 프로젝트의 root 파일에 있는 media폴더 내부의 파일의 url을 반환합니다. -->
    <div class="card" style="width:15rem; margin-top: 3rem;">
      <img class="card-img-top"
          src = "{{ post.image.url|slice:'1:' }}"
          alt="Card image cap" style="width:100%;">
      <div class="card-body">
        {% if post.soldout %}
        <h5 class="card-title">SOLD OUT</h5>
        {% else %}
          <h5 class="card-title"><a href="{% url 'post-detail' pk=post.pk%}">{{ post.title }}</a></h5>
        {% endif %}
        <b>{{post.new_price}} 원</b>  <small><del>{{post.origin_price}}원</del></small>
      </div>
    </div>
  </div>
  {% endfor %}
  
</div>
</div>
<!--pagination-->
<nav aria-label="Page navigation example">
  <ul class="pagination offset-6">
    {%if mypage.previous_url%}
      <li class="page-item"><a class="page-link" href="{{ mypage.previous_url }}">Prev</a></li>
    {%endif%}
    
    {% for link in mypage.page_links %}
      {% if link.is_active %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="{{link.url}}">{{link.number}} <span class="sr-only">(current)</span></a>
      {%else%}
        <li class="page-item"><a class="page-link" href="{{link.url}}">{{link.number}}</a></li>
      {% endif %}
    {%endfor%}

    {%if mypage.next_url%}
      <li class="page-item"><a class="page-link" href="{{ mypage.next_url }}">Next</a></li>
    {%endif%}
  </ul>
</nav>




{% endblock %}
