{% extends 'layout.html' %}

{% block content %}
<body>
    <table width="100%" height="100%" style="border:10">
    <tr>
        <td width="50%" style="border:10; text-align: center;" >
            <img class="card-img-detail"
          src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
          alt="Card image cap">
        </td>
        <td style="border:10">
            <h2>{{ post.title }}</h2> <button type="button" class="btn btn-outline-primary" onclick = postUpdate();>편집</button><hr>
            <p>
                가게명 : {{ post.restaurant }}<br>
                <br>
                <p style='text-decoration:line-through'>원가 : {{ post.origin_price }}<br></p>
                <p>
                    할인가 : {{ post.new_price }}<br>
                    <br>
                    {{ discount }} % 할인
                </p>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;"><br>
            <hr>
        <h4>{{ post.memo }}<br></h4>
        </td>
    </tr>
    
    
</table>
    <h2>
        <br>
    <br>
    

    
</h3>
    
</body>

<script type="text/javascript">
    function postUpdate(){
        window.location.href = "{% url 'post-update' post.id %}"
    }
    </script>

{% endblock %}