{% extends 'layout.html' %}


{% block content %}



<div class="index">
  
  <div class="jumbotron jumbotron-fluid1" align="center">
    <div class="container">
      <h1 class="display-4"><b>우리 동네 음식점에서 남은 식자재 찾기</b></h1><br>

      {% if user.is_authenticated %}
      {{ user.username }}님 반갑습니다<br><br>
      <button type="button" class="btn btn-primary" onclick=logout()>로그아웃</button>
      {% else%}
      
      <button type="button" class="btn btn-primary" onclick="location.href='/account/signup'">회원가입</button>
      <button type="button" class="btn btn-primary" onclick="location.href='/account/login'">로그인</button>
      {% endif %}
      
    </div>
  </div>
  <br><br>


<br>
<br>

<div class="card-columns">
  {% for post in posts %}

  
  <!-- img 태그를 활용하여 프로젝트의 root 파일에 있는 media폴더 내부의 파일의 url을 반환합니다. -->
  <div class="card">
      <img class="card-img-top"
          src = "{{ post.image.url|slice:'1:' }}"
          alt="Card image cap" style="width:100%; height:100%;">
      <div class="card-body">
          <h5 class="card-title"><a href="{% url 'post-detail' pk=post.pk%}">{{ post.title }}</a></h5>
          <div class="card-text"><a href="{% url 'store-detail' pk=post.poster.pk%}">{{ post.restaurant }}</a></div></p>
      </div>
  </div>
  {% endfor %}
</div>

<!--pagination-->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {%if mypage.previous_url%}
      <li class="page-item"><a class="page-link" href="{{ mypage.previous_url }}">Prev</a></li>
    {%endif%}
    
    {% for link in mypage.page_links %}
      {% if link.is_active %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="{{link.url}}">{{link.number}} <span class="sr-only">(current)</span></a>
      {%else%}
        <li class="page-item"><a class="page-link" href="{{link.url}}">{{link.number}}</a></li>
      {% endif %}
    {%endfor%}

    {%if mypage.next_url%}
      <li class="page-item"><a class="page-link" href="{{ mypage.next_url }}">Next</a></li>
    {%endif%}
  </ul>
</nav>

<script type="text/javascript">
  function logout(){
      window.location.href = "{% url 'logout' %}"
  }
  </script>



{% endblock %}
