{% extends 'layout.html' %}

{% block content %}
<div class="index">
  로그인 확인 : {{ user.username }}님 반갑습니다
  <div class="jumbotron jumbotron-fluid1" align="center">
    <div class="container">
      <h1 class="display-4"><b>우리 동네 음식점에서 남은 식자재 찾기</b></h1><br>
      <button type="button" class="btn btn-primary">회원가입</button>
      <button type="button" class="btn btn-primary">로그인</button>

    </div>
  </div>
  <br><br>


<br>
<br>

<div class="card-columns">
  {% for post in posts %}
  <div class="card">
      <img class="card-img-top"
          src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
          alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title"><a href="{% url 'post-detail' pk=post.pk%}">{{ post.title }}</a></h5>
          <p class="card-text">{{ post.memo }}</p></p>
      </div>
  </div>
  {% endfor %}
</div>




{% endblock %}
