{% extends 'layout.html' %}

{% block content %}

    <h1>Stores</h1>
    <div class="card-columns">
        {% for store in stores %}
        <div class="card">
            <img class="card-img-top"
                src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a href="#">{{ store.store_name }}</a></h5>
                <p class="card-text">{{ store.user }}</p></p>
            </div>
        </div>
        {% endfor %}
        
    </div>
 
    </ul>

    <input type = "text" id="searchword" placeholder="가게명을 입력하세요." onkeyup="search(this);">
    <button type="button" id="btn_search" onclick="button1_click();">Search</button> 
    <script>
        function button1_click() {
            var param;

            param = "{% url 'store-list' %}"

            window.location.href = param;
        }
        </script>
    <ul id="result"></ul>
    


{% endblock %}
